<form action="/post-email" method="post">
    Email người gửi: <input type="email" name="emailgui" class="form-control">
    Email người nhận: <input type="email" name="emailnhan" class="form-control">
    Chủ đề: <input type="text" name="chude" class="form-control">
    Nội dung: <textarea class="form-control" name="noidung" id="" cols="30" rows="10"></textarea>
    <button class="btn btn-primary" type="submit">Gửi email</button>
</form>